var config = {}

config.slideshare = {};
config.mogreet = {};

config.slideshare.host = 'www.slideshare.net'
config.slideshare.endpoints = {};
config.slideshare.endpoints.upload = '/api/2/upload_slideshow'
config.slideshare.endpoints.get = '/api/2/get_slideshow'

config.slideshare.api_key = 'YOUR_KEY'
config.slideshare.shared_secret = 'YOUR_SECRET'
config.slideshare.username = 'USERNAME'
config.slideshare.password = 'PASSWORD'

module.exports = config;
exports = {
	development: {
		express: {
			session_secret: 'SESSION_SECRET'
		}
		, twitter: {
			consumer_key: 'CONSUMER_KEY'
			, consumer_secret: 'CONSUMER_SECRET'
			, callbackURL: "http://localhost:5000/auth/twitter/callback"
		}
		, slideshare: {
			host: 'www.slideshare.net'
			, endpoints: {
				upload: '/api/2/upload_slideshow'
				, get: '/api/2/get_slideshow'
			}
			, api_key: 'API_KEY'
			, shared_secret: 'SHARED_SECRET'
			, username: 'USERNAME'
			, password: 'PASSWORD'
		}
		, s3: {
		  bucket: "https://s3.amazonaws.com/slidz_ppt"
		}
		, mogreet: {
			host: 'api.mogreet.com'
			, endpoints: {
				keyword_check: '/cm/keyword.check'
				, keyword_add: '/cm/keyword.add'
			}
			, client_id: 'CLIENT_ID'
			, secret_token: 'TOKEN'
			, mms_campaign_id: 'CAMPAIGN_ID'
		}
	}
	, production: {
		express: {
			session_secret: 'SESSION_SECRET'
		}
		, twitter: {
			consumer_key: 'CONSUMER_KEY'
			, consumer_secret: 'CONSUMER_SECRET'
			, callbackURL: "http://yourdomain.com/auth/twitter/callback"
		}
		, slideshare: {
			host: 'www.slideshare.net'
			, endpoints: {
				upload: '/api/2/upload_slideshow'
				, get: '/api/2/get_slideshow'	
			}
			, api_key: 'API_KEY'
			, shared_secret: 'SHARED_SECRET'
			, username: 'USERNAME'
			, password: 'PASSWORD'
		}
		, s3: {
		  bucket: "https://s3.amazonaws.com/slidz_ppt"
		}
		, mogreet: {
			host: 'api.mogreet.com'
			, endpoints: {
				keyword_check: '/cm/keyword.check'
				, keyword_add: '/cm/keyword.add'
			}
			, client_id: 'CLIENT_ID'
			, secret_token: 'TOKEN'
			, mms_campaign_id: 'CAMPAIGN_ID'
		}
	}
}