extends layout

block head
  script(type="text/javascript", src="javascripts/upload.js")

block content
  h1= title
  p Welcome to #{title}
  button(class="btn btn-large btn-primary", type="button", onclick="open_upload_modal();", onsucess="alert('success');") Upload
  