doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="//api.filepicker.io/v1/filepicker.js")
    script(type="text/javascript", src="javascripts/upload.js")
  body
    block content