extends layout

block content
  h1= title
  br
  br
  p Login with Twitter to start uploading your presentations
  br
  br
  a(href="/auth/twitter", class="btn btn-large btn-info") 
    i(class="icon-twitter") 
    span Sign in with Twitter